.heading {
	display: flex;
	justify-content: space-between;
	padding: 5px 40px;
	height: 120px;
	-webkit-box-shadow: 1px 14px 47px -13px rgba(0,0,0,0.47); 
	box-shadow: 1px 14px 47px -13px rgba(0,0,0,0.47);
	h2 {
		margin-top: auto;
		margin-bottom: auto;
	}
	h2:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.width-40 {
	width: 40%;
	justify-content: space-around;
}

.logo-container {
	display: flex;
	width: 20%;
	justify-content: center;
}

#navbar-logo {
	width: 100px;

	transition: 0.2s ease;
}

#navbar-logo:hover {
	cursor: pointer;
	transform: scale(1.1);
}