.members {
	padding-top: 120px;
	height: auto;
}

.konteiner {
	width: 400px;
	border: 5px solid black;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	-webkit-box-shadow: -7px 7px 0px 1px #000000, -14px 14px 0px 1px rgba(0, 0, 0, 0.7), -21px 21px 0px 1px rgba(0, 0, 0, 0.5), -28px 28px 0px 1px rgba(0, 0, 0, 0.4);
	box-shadow: -7px 7px 0px 1px #000000, -14px 14px 0px 1px rgba(0, 0, 0, 0.7), -21px 21px 0px 1px rgba(0, 0, 0, 0.5), -28px 28px 0px 1px rgba(0, 0, 0, 0.4);

	table {
		margin: auto;
	}
}

.konteiner h2 {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 3px solid black;
}

.nimi {
	padding-right: 20px !important;
}

@media only screen and (max-width: 767px) {
	.members {
		padding-top: 100px;
	}

	.konteiner {
		margin-top: 40px;
		width: 350px;

		td {
			padding-right: 10px !important;
		}

		td h3 {
			font-size: 16px;
		}
	}
}